* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.header #header-title {
  margin-bottom: 20px;
}
.header #input-text {
  width: 300px;
  height: 35px;
}
.header #button {
  padding: 5px 10px;
  margin-left: 4px;
}
.courses {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.courses .enroll-courses {
  background-color: lightblue;
  width: 350px;
  height: 190px;
}
.enroll-courses .enroll-course-heading {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}
.enroll-courses .enroll-courses-list {
  padding-left: 10px;
}
.enroll-courses .enroll-courses-list li {
  list-style: none;
}
.enroll-courses .enroll-courses-list input[type="checkbox"] {
  width: 20px;
  height: 18px;
}
.enroll-courses .enroll-courses-list label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.courses .completed-courses {
  background-color: rgb(167, 231, 189);
  width: 350px;
  height: 190px;
}
.completed-courses .completed-course-heading {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}
.completed-courses .completed-courses-list li { 
  padding-left: 10px;
  list-style: none;
  position: relative;
  font-size: 1.2rem;
}
.completed-courses .completed-courses-list #completedItem { 
    margin-bottom: 10px;
  }
.completed-courses .completed-courses-list .deleteBtn  { 
  
    position: absolute;
    right: 5%;
    margin-right: 10px;
    padding: 4px 10px;
    font-size: .8rem;
    background-color: rgb(241, 25, 25);
    color: #fff;
    border: none;
    cursor: pointer;
    
}
.completed-courses .completed-courses-list .deleteBtn:hover{
    background-color: rgba(197, 6, 6, 0.9);
}
  
